body {
    font-family: Arial, sans-serif;
    margin: 30px 60px;
}

section {
    background-color: #66f8ff;
    color: #364902;
    text-align: center;
}

section article p {
    background-color: rgb(61, 212, 61);
}

section > p {
    background-color: #aaf;
    color: rgba(61, 190, 49, 0.74);
}

article {
    background-color: rgba(60, 255, 0, 0.555);
    font-size: 16px;
}

.short-text {
    display: inline;
}

.lorem-ipsum {
    text-align: justify;
}

.paragraph {
    background-color: #4bec4b;
}

#paragraph {
background-color: #7eec4b
}

#news {
    background-color: #rgb(212, 172, 61);
}

#info {
    background-color: #rgb(212, 172, 61)
}

#contact {
    background-color: #489967
}

.short-text {
    background-color: rgb(72, 173, 111); 
}

    #par{ 
        background-color: rgb(81, 160, 107); 
}

#para {
    color: #144b1d
}