/* body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
  } */
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  label {
    margin-bottom: 10px;
  }
  input[type="text"], input[type="password"] {
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
  }
  input[type="submit"] {
    padding: 12px;
    background-color: #3f729b;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  /* .body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  } */
  .header {
    background-color: #3f729b;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header h1 {
    font-size: 24px;
    margin: 0;
  }
  .posts {
    text-align: center;
    padding: 20px;
    display: wrap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    border-top: 1px solid #d3d3d3;
    margin-left: 400px;
    overflow: scroll;
    width: 50%;
    height: 710px;
  }
  .post {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .post img {
    width: 100%;
    height: auto;
  }
  h1 {
    color: aliceblue;
  }
 
  .ara {
    background-color: rgb(22, 22, 22);
    text-align: center;
  }
  .ara2 {
    background: linear-gradient(10deg, rgb(133, 7, 28) 0%, wite);
  }

  .ima {
    
    width: 450px;
    height: 100px;
  }
  .App {
    margin: 0 0 0 0;
    background-color: rgb(83, 82, 82);
    height: 870px;
  }
  .navb {
    margin-left: 300px;
    background-color: rgb(197, 181, 181);
    color: black;
  }
  .navbA {
    margin-left: 300px;
    background-color: rgb(197, 181, 181);
    color: black;
    width: 500px;
  }
  .navbAR {
    margin-left: 300px;
    background-color: rgb(197, 181, 181);
    color: black;
    width: 484px;
  }
  .in{
    background-color: #313131;

    height: 881px;
  }
  .lo {
    width: 200px;
  }
  .content{
    text-align: center;
  }

  .navigation button {
    min-width: 50px;
    line-height: 1;
  }

  .house:hover:after {
    content: " Home";
    font-size: 20px;
  }
  .fa-house {
    font-size: 20px;
  }

  .search:hover:after {
    content: " Search";
    font-size: 20px;
  }

  .fa-magnifying-glass {
    font-size: 20px;
  }

  .new:hover:after  {
    content: " New";
    font-size: 20px;
  }
  .fa-plus {
    font-size: 20px;
  }

  .settings:hover:after {
    content: " Settings";
    font-size: 20px;
  }
  .fa-gear{ 
    font-size: 20px;
  }
  
  .profile:hover:after  {
    content: " Profile";
    font-size: 20px;
  }
  .fa-user{ 
    font-size: 20px;
  }